<a href="https://colab.research.google.com/github/jpocon/GeoAI/blob/main/AAG_ML_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#-------------------------------------------

# 
# AAG Machine Learning Worksop - Dr. Hu
# Demo Day 1 - 02/09/2021
# Follow along with Lecture 3 pdf
# 

#-------------------------------------------

# Python review
my_list = ["Buffalo", "DC", "NYC", "LA"]
my_list.append("Seattle")
my_list.remove("NYC")
my_list

['Buffalo', 'DC', 'LA', 'Seattle']

In [ ]:
# Dictionaries
pA = {"nm":"Dr. J", "loc":"Ceres Station"}
pA["nm"]

'Dr. J'

In [ ]:
# Functions
def funktion(nm, deg):
  print("My name is "+nm+", my degree is "+deg)

funktion("Dr. J", "PhD")

My name is Dr. J, my degree is PhD

In [ ]:
# Imports
!pip install scikit-learn
import sklearn as skl
!pip install rasterio
import rasterio as rio
!pip install geopandas
import geopandas as gps
import pandas as pd

In [ ]:
# Dataframes with Pandas
data = [['JJ',30],['Bobby',60],['CJ',20]] #2D matrix
df = pd.DataFrame(data, columns=['nombre','time left to live (secs)']) #dataframe from 2D matrix
df

  nombre  time left to live (secs)
0     JJ                        30
1  Bobby                        60
2     CJ                        20

In [ ]:
# Dataframe from csv with Pandas
df = pd.read_csv('/content/drive/MyDrive/Workshops/AAG_Machine_Learning_Workshop/Data/file_demo.csv') #right-click 'copy path' from Drive (right panel)

In [ ]:
# Shapefiles with GeoPandas
world_shp = gps.read_file('/content/drive/MyDrive/Workshops/AAG_Machine_Learning_Workshop/Data/Countries_2007.shp')
world_shp.head(0)

Empty GeoDataFrame
Columns: [FIPS_CNTRY, GMI_CNTRY, ISO_2DIGIT, ISO_3DIGIT, ISO_NUM, CNTRY_NAME, LONG_NAME, ISOSHRTNAM, UNSHRTNAM, LOCSHRTNAM, LOCLNGNAM, STATUS, SQKM, SQMI, POP2007, POP2015, POP2025, POP014_07, POP1564_07, HIVAIDSTOT, HIVAIDS_YR, HIVDTH, HIVDTH_YR, Shape_Leng, Shape_Area, TOTCO2_200, GDP_USD, GDP_YR, IMPORT_USD, IMPORT_YR, EXPORT_USD, EXPORT_YR, geometry]
Index: []

In [ ]:
type(world_shp)
type(world_shp['geometry'])
type(world_shp['CNTRY_NAME'])
world_shp.plot

<bound method GeoDataFrame.plot of     FIPS_CNTRY  ...                                           geometry
0           FK  ...  MULTIPOLYGON (((-59.34806 -52.34305, -59.37945...
1           FG  ...  POLYGON ((-54.60378 2.32919, -54.49917 2.36500...
2           GY  ...  POLYGON ((-58.17262 6.81222, -58.15494 6.82819...
3           PC  ...  MULTIPOLYGON (((-128.33222 -24.32726, -128.326...
4           SX  ...  MULTIPOLYGON (((-36.99139 -54.35056, -36.99973...
..         ...  ...                                                ...
244         BP  ...  MULTIPOLYGON (((160.82025 -9.82945, 160.82524 ...
245         TV  ...  MULTIPOLYGON (((179.21323 -8.56129, 179.20241 ...
246         NH  ...  MULTIPOLYGON (((167.10782 -15.12370, 167.13136...
247         MJ  ...  POLYGON ((18.45555 42.56583, 18.46389 42.56945...
248         RB  ...  POLYGON ((20.07142 42.56091, 20.09993 42.65770...

[249 rows x 33 columns]>